.bg-hero{
   background-color: #ebf1fa;
   height: 550px;

   .hero-size{
        height: 500px;
        width: 500px;
   }
   @media (max-width : 600px) and (max-width : 600px) {
        .hero-title{
            font-size: 35px;
        }
   }
   @media (max-width : 400px){
    .hero-title{
        font-size: 20px;
    }
}
}
