.lol-rotate {
  transform: rotate(20deg);
  height: 600px;
}
.portfolio-container1{
  transform: rotate(-20deg);
  height: 600px;
}

.column-setup{
  transform: translate(30px,-100px);
}

.lol-setup{
    transform: translate(0px);
  }

@media (max-width : 992px) {
  .product-container{
    overflow: hidden;
  }
}

@media (min-width : 992px) {
  .lol-setup{
    transform: translate(-100px,-200px);
  }
}
